<div class="jumbotron">
  <div class="container">
    <h1><%= identifier %></h1>
    <p>Aggregate site analytic data for the <%= identifier %> campaign.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Most Requested URL's</h2>
      <p><strong>Most requested URL's to least requested URL's. Click links for url specific data.</strong></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>URL</th>
            <th>Requests</th>
          </tr>
        </thead>
        <tbody>
          <% url_reqs.each do |url| %>
            <tr>
              <th scope="row">
                <a href="/sources/<%= identifier %>/urls<%= URI(url[:url]).path %>">
                  <%= url[:url] %>
                </a>
              </th>
              <td><%= url[:count] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2>Web Browser Breakdown</h2>
      <p><strong>Web browser breakdown across all requests.</strong></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Browser Info</th>
            <th>Requests</th>
          </tr>
        </thead>
        <tbody>
          <%= partial :'partials/browser_breakdown', collection: browser_breakdowns %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2>OS Breakdown</h2>
      <p><strong>Operating system breakdown across all requests.</strong></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>OS Info</th>
            <th>Requests</th>
          </tr>
        </thead>
        <tbody>
          <%= partial :'partials/os_breakdown', collection: os_breakdowns %>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-md-4">
      <h2>Screen Resolution </h2>
      <p><strong>Screen resolution breakdown across all requests (width x height).</strong></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Width</th>
            <th>Height</th>
            <th>Requests</th>
          </tr>
        </thead>
        <tbody>
          <%= partial :'partials/screen_res_req', collection: screen_res_reqs %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2>Average Response Time</h2>
      <p><strong>Longest average response time per URL to shortest average response time.</strong></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>URL</th>
            <th>Avg Resp Time(ms)</th>
          </tr>
        </thead>
        <tbody>
          <%= partial :'partials/avg_response_time', collection: avg_response_times %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2>Aggregate Event Data</h2>
      <p><strong>Aggregate Event Data</strong></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
